$primary: #e6e6e6 !default;
$secondary: #59cf49 !default;
$bg: linear-gradient(to right, #00b4db, #00a8d1, #009bc6, #008fbb, #0083b0);
$light: #ffffff !default;
$grey-font: #a3a3a3 !default;
$card-bg: #E8E8E8 !default;
